*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background: #E9E9E9;
  color: #616161;
}

h1{
  text-align: center;
}

form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#name{
  margin-top: 3%;
}

input,
textarea{
  background-color: #E9E9E9;
  margin: 0 10%;
  padding: 1%;
  width: 50%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: 1px solid #616161;
  border-bottom: none;
}

input:hover,
textarea:hover{
  background-color: #B6B6B6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

textarea{
  font-size: .8em;
  font-family: 'Noto Sans', sans-serif;
}

#submit{
  border-bottom: 1px solid #616161;
}
